Django==4.2.30
djangorestframework==3.16.1
django-cors-headers==4.9.0

gunicorn==23.0.0
whitenoise==6.9.0

tensorflow==2.20.0
keras==3.11.3
numpy==2.2.6
h5py==3.14.0
pillow==11.3.0

opencv-python-headless==4.12.0.88

requests==2.34.2

google-genai==2.16.0
ai-edge-litert